*{
    color: #fff;
}

:root{
    --primary-color-1:rgb(97, 184, 255);
    --secund-color-2:rgb(59, 110, 151);
    --third-color-3:rgb(20, 40, 56);
    --four-color-:rgba(20, 40, 56, 0.808);
    --firt-gradiente:linear-gradient(90deg, var(--primary-color-1) 3%,rgb(61, 115, 160)  53%, var(--third-color-3) 100%);
    --primary-color-4:rgb(255, 174, 0);
    --secund-color-5:rgb(87, 59, 0);
    --third-color-6:rgb(255, 205, 96);
    --primary-color-7:rgb(122, 122, 122);
    --secund-color-8:rgb(82, 82, 82);
    --third-color-9:rgb(43, 43, 43);

    
background-size: 126px 126px;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: 
    linear-gradient(135deg,#0000 20.5%,var(--primary-color-4) 0 29.5%,#0000 0) 0 31.5px,
    linear-gradient( 45deg,#0000 8%,var(--primary-color-4) 0 17%, #0000 0 58%) 63px 0,
    linear-gradient(135deg,#0000 8%,var(--primary-color-4) 0 17%, #0000 0 58%,var(--primary-color-4) 0 67%,#0000 0),        
    linear-gradient( 45deg,#0000 8%,var(--primary-color-4) 0 17%, #0000 0 58%,var(--primary-color-4) 0 67%,#0000 0 83%,var(--primary-color-4) 0 92%,#0000 0),
    var(--third-color-3);
}



header{
    display: flex;
    flex-direction: column;
}

.flexNav{
    display: flex;
    justify-content: space-between;
    background: var(--third-color-3);
    color: var(--branco);
    text-decoration: none;
    height: 50px;
    align-items: center;
    overflow:hidden;
}

.flexNav a{
    text-decoration: none;
    color: var(--branco);
    margin-left: 5px;
    font-size: 20px;
    padding: 10px;
    transition: background-color 500ms,font-size 100ms,padding 500ms;
    text-shadow: #fff 0px 0px 3px,#fff 0px 0px 30px;
    text-shadow: #fff 0px 0px 3px,#fff 0px 0px 30px;
}
.flexNav a:hover{
    background-color: var(--primary-color-4);
    padding: 13px;
    font-size: 25px;
    
    
}
.flexNav a:last-child{
    margin-right: 40px;
}
.logo1{
    margin-left: 15px;
    font-size: 50px;
    font-family: "Tourney";
}
.logo2{
    margin-left: 15px;
    font-size: 30px;
    font-family: "Oswald";
}



section{
    display: flex;
    margin: 100px 0px;
    justify-content: center;
    flex-wrap: wrap;
}

main h1{
    font-size: 100px;
    background: var(--third-color-3);
    margin-top: 10px;
    text-align: center;
    border-top: var(--primary-color-4) 2px solid;
    width: 100%;
    box-shadow: var(--primary-color-4) 0px -2px 5px;
    text-shadow: #fff 0px 0px 3px,#fff 0px 0px 30px;
}

.colunaFotos {
    columns: 3;
    column-gap: 15px;
    background-color: var(--four-color-);
    padding: 20px;
    border-bottom: solid 10px var(--third-color-3);
    box-shadow: #000 10px 0px 10px;
}
.colunaFotos img{
    width: 98%;
    border: solid 0px white;
    border-radius: 10px;
   margin-left: 1%;
   margin-bottom: 50px;
   box-shadow: 0px 0px 30px white, 0px 0px 10px white,0px 0px 10px white inset;
}




footer{
    background-color: var(--four-color-);
    height: 280px;
    display: flex;
}
.containerLinksFooter{
    border-right: white solid;
    display: flex;
    flex-direction:column;
    
    margin-left: 30%;
    padding-right: 5%;
}
.containerLinksFooter a{
    margin-top: 15px;
    padding: 5px 10px;
    border: 5px var(--primary-color-4) solid;
    border-radius: 10px;
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    text-shadow: #fff 0px 0px 3px,#fff 0px 0px 30px; 
}

.containerMensagemFooter{
    color: var(--branco);
    margin-top: 40px;
    margin-left: 70px;
}





/*para tablets*/
@media only screen and (max-width: 882px){

    .colunaFotos {
        columns: 2;
        
    }

    main h1{
        font-size: 80px;
    }

    .containerMensagemFooter{
        
        margin-left: 30px;
    }
    
}

/*para celulares*/
@media only screen and (max-width: 576px){

    main h1{
        font-size: 60px;
    }

    .colunaFotos {
        columns: 1;
        
    }
   
}


